@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");
html,
body,
#__nuxt,
#__layout {
  height: 100% !important;
  width: 100% !important;
}

body {
  font-family: "Inter", sans-serif;

  background-position: center;
  background-repeat: no-repeat;
  background: #00b4ff;
}
